<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>GitRunning Signup</title>
  <link rel="stylesheet" href="signup.css">
  <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One|Fredoka+One|Luckiest+Guy|Pacifico|Shrikhand" rel="stylesheet">
</head>

<body>

  <div class="bodywrapper">

    <form action="/signup" method="post">
      <h1 class="h1">Sign Up</h1>
      <fieldset>
        <div class="labelwrap2">
          <div class="labelwrap">
            <label for="firstName">First Name</label>
            <input required type="text" name="firstName" placeholder="First Name">
          </div>
          <div class="labelwrap">
            <label for="lastName">Last Name</label>
            <input required type="text" name="lastName" placeholder="Last Name">
          </div>
          <div class="labelwrap">
            <label for="email">Email</label>
            <input type="text" name="email" placeholder="example@example.com">
          </div>
        </div>
        <div class="labelwrap2">
          <div class="labelwrap">
            <label for="userName">Username</label>
            <input type="text" name="userName" placeholder="Username">
          </div>
          <div class="labelwrap">
            <label for="password">Password</label>
            <input type="password" value="" placeholder="Password">
          </div>
        </div>
        <div class="form__submit-button">
          <input type="submit" value="Submit">
        </div>
      </fieldset>
    </form>

    <div class="welcome">
      <section class="headerwrapper">
        <div>Welcome to</div>
        <div class="gitrunning">GitRunning</div>
      </section>
      <section class="buttonwrapper">
        <div class="signup">
          <h1>Not a Member?</h1>
          <h2><a href="/signup">Sign Up</a></h2>
        </div>
        <div class="login">
          <h1>Already a member?</h1>
          <h2><a href="/login">Log In</a></h2>
        </div>
      </section>
      <footer>
        <%- include('../partials/footer'); %>
    </footer>
    </div>
  </div>
</body>

</html>